rect:hover {
  /*여긴 index3을 제외한 나머지 활성화*/
  /*fill: orange;*/
  fill: orange;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#tooltip__1 {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip__1.hidden {
  display: none;
}

#tooltip__1 p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/*여기는 index4의 css스타일*/
.day {
  fill: white;
  stroke: silver;
}

.month {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

h1.index5 {
  font-size: 100px;
  text-align: left;
}

#tooltip2 p {
  margin: 0;
  font-family: sans-serif;
  font-size: 50px;
  line-height: 100px;
}
#tooltip2.hidden {
  display: none;
}
#tooltip2 {
  position: absolute;
  width: 700px;
  height: 200px;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
circle:hover {
  fill: black;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}
.lineChart {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.lineChart:hover {
  stroke: black;
  stroke-width: 3px;
}

#tooltip3 p {
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 40px;
}
#tooltip3.hidden {
  display: none;
}
#tooltip3 {
  position: absolute;
  width: 500px;
  height: 100px;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
/* 색상표 */
/*.RdYlGn .q0-11{fill:rgb(165,0,38)}
  .RdYlGn .q1-11{fill:rgb(215,48,39)}
  .RdYlGn .q2-11{fill:rgb(244,109,67)}
  .RdYlGn .q3-11{fill:rgb(253,174,97)}
  .RdYlGn .q4-11{fill:rgb(254,224,139)}
  .RdYlGn .q5-11{fill:rgb(255,255,191)}
  .RdYlGn .q6-11{fill:rgb(217,239,139)}
  .RdYlGn .q7-11{fill:rgb(166,217,106)}
  .RdYlGn .q8-11{fill:rgb(102,189,99)}
  .RdYlGn .q9-11{fill:rgb(26,152,80)}
  .RdYlGn .q10-11{fill:rgb(0,104,55)} */

.section-chkbox {
  position: fixed;
  right: 0;
  width: 130px;
}
.section-chkbox > label {
  display: block;
  transform: scale(2);
  margin-top: 50px;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
  float: left;
  width: 40%;
  text-align: center;
}

.section-1 {
  display: block;
}

.section-2 {
  display: none;
}

.section-3 {
  display: none;
}

.section-4 {
  display: none;
}

.section-5 {
  display: none;
}

.section-6 {
  display: none;
}

.section-6-title {
  font-size: 40px;
  font-weight: 700;
}

/* 모달 */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */                          
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
